@import "../../assets/styles/variable.scss";
.task_box{
    box-shadow: $box_shadow;
    background-color: $white;
    overflow: hidden;
    .completed_flag{
        color:greenyellow;
    }
    .not_completed_flag{
        color:$gray;
    }
    .completed{
        opacity:0.5;
    }
    .task_cat{
        background-color: $main;
        color: $white;
        & svg{
            color: $white;
        }
    }
}